.profile__add-btn {
  padding: 0;
  width: 150px;
  height: 50px;
  align-self: center;
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #000;
  background-position:center;
  background-size: 22px 2px, 2px 22px;
  background-repeat:no-repeat;
  border: 2px solid #fff;
  transition: opacity .4s;
}

.profile__add-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .profile__add-btn {
    width: 485px;
  }
}

@media screen and (max-width: 600px) {
  .profile__add-btn {
    width: 282px;
    background-size: 17px 2px, 2px 17px;
  }
}
