.profile__data {
  display: grid;
  gap: 16px 18px;
  grid-template-areas:
    "profile_name profile__edit-btn"
    "profile__about-me profile__about-me";
  grid-template-rows: max-content max-content;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .profile__data {
    grid-template-areas:
    ". . profile_name profile__edit-btn"
    ". . profile__about-me profile__about-me";
  }
}
